@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --font-main: font-family: "Lora", serif;
    --color-primary: #088178;
    --color-dark-1: #222;
    --color-dark-2: #1a1a1a;
    --color-withe-2: #E3E6F3;
    --color-blue-1: #465b52;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
}

html {
    font-size: 10px;
    /* 1 rem 10px */
}


h1 {
    font-size: 5rem;
    line-height: 6.4rem;
    color: var(--color-dark-1);
}

h2 {
    font-size: 4.6rem;
    line-height: 5.4rem;
    color: var(--color-dark-1);
}

h4 {
    font-size: 2rem;
    color: var(--color-dark-1);
}


h6 {
    font-weight: 700;
    font-size: 1.2rem;
}

p {
    font-size: 1.6rem;
    color: var(--color-blue-1);
    margin: 1.5rem 0rem 2rem 0rem;
}

.section_p1 {
    padding: 4rem 8rem;
}

.section_m1 {
    padding: 4rem 0rem;
}

body {
    width: 100%;
}


/* header */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8rem;
    background-color: var(--color-withe-2);
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 2rem;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-dark-2);
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: var(--color-primary);
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 0.2rem;
    background-color: var(--color-primary);
    position: absolute;
    bottom: -4px;
    left: 2rem;
}


/* hero */

#hero {
    background: url("../img/hero4.png");
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    background-size: cover;
    padding: 0px 8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 8rem;
    object-fit: cover;
}

#hero h4 {
    padding-bottom: 1.5rem;
}

#hero h1 {
    color: var(--color-primary);
}

#hero button {
    background-image: url("../img/button.png");
    background-color: transparent;
    color: var(--color-primary);
    border: none;
    padding: 1.4rem 8rem 1.4rem 6.5rem;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.5rem;
}


/* feature */

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe_box {
    width: 18rem;
    text-align: center;
    padding: 2.5rem 1.5rem;
    box-shadow: 2rem 2rem 3.4rem rgba(0, 0, 0, 0.03);
    border: 0.1rem solid var(--color-withe-2);
    border-radius: 0.4rem;
    margin: 1.5rem 0rem;
    transition: 0.2s ease;
}

#feature .fe_box:hover {
    box-shadow: 1rem 1rem 5.4rem rgba(19, 19, 210, 0.1);
}


#feature .fe_box img {
    width: 100%;
    margin-bottom: 1rem;
}

#feature .fe_box h6 {
    padding: 0.9rem 0.8rem 0.6rem 0.8rem;
    line-height: 1;
    border-radius: 0.4rem;
    color: var(--color-primary);
    background-color: #fddde4;
    display: inline-block;
    text-align: center;
}

#feature .fe_box:nth-child(2) h6 {
    background-color: #cdebbc;
}

#feature .fe_box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

#feature .fe_box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

#feature .fe_box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

#feature .fe_box:nth-child(6) h6 {
    background-color: #fff2e5;
}